body {
  background-color: gainsboro;
}

.container {
  max-width: 1024px;
  height: 150vh;
  background-color: white;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  color: white;
}
p{
  margin: 0px;
}
div {
  display: block;
}

.header {
  position: relative;
  background-color: rgb(3, 81, 81);
  height: 50px;
  width: calc(100%);
  z-index: 1;
}

.aside {
  background-color: rgb(26, 0, 128);
  position: sticky;
  top: 0;
  margin: 0 ;
  height: 50px;
  width: calc(100%);
  z-index: 1;
  
}
.menuLateral {
  position: absolute;
  background-color: rgb(2, 78, 33);
  height: 40%;
  width: calc(35% );
  top: calc(10%);
  left: 0px;
}
.menuLateralD {
  position: absolute;
  background-color: purple;
  height: 40%;
  width: calc(60% );
  top: calc(10%);
  right: 0px;
}
.footer {
  position: absolute;
  background-color: rgb(6, 114, 123);
  height: 10%;
  width: calc(100%);
  top: 52%;
  
}
.btn {
  border-radius: 15px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
  width: 50px;
  top: calc(100% - 25px);
  left: calc(50% - 25px);
  text-align: center;
  color: white;
}
