/* Seletor da TAG Tem um prioridade menor */
a {
    color: red;
}

a:hover {
    color: white;
    background-color: black;
}

/* A Classe tem um prioridade maior que o seletor de TAG */
/* Estilos inline tem a maior prioridade */
.navSuperior {
    color: #520795;
    text-decoration: none;
}

.navSuperior:hover {
    color: red;
    background-color: black;
}

body {
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
}

.menuLateral {
    background-color: blanchedalmond;
}

.menuLateral a{
    color: pink;
}

.menuSuperior ul {
    background-color: aqua;
}

.menuSuperior a {
    color: #520795;
    text-decoration: none;
}